<div class="skils py-5" style="min-height: 100vh;">
    <h2 class="mainH2 text-center mb-5" >My Skils</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="px-5">
                    <div class="d-flex justify-content-between">
                        <strong>HTML5</strong>
                        <strong>80%</strong>
                    </div>
                    <div class="progres">
                        <span data-width="80%" class="progres-width" style="width: 80%;"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="px-5">
                    <div class="d-flex justify-content-between">
                        <strong>CSS3</strong>
                        <strong>80%</strong>
                    </div>
                    <div class="progres">
                        <span data-width="80%" class="progres-width" style="width: 80%;"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="px-5">
                    <div class="d-flex justify-content-between">
                        <strong>Bootstrap5</strong>
                        <strong>80%</strong>
                    </div>
                    <div class="progres">
                        <span data-width="80%" class="progres-width" style="width: 80%;"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="px-5">
                    <div class="d-flex justify-content-between">
                        <strong>SCSS</strong>
                        <strong>60%</strong>
                    </div>
                    <div class="progres">
                        <span data-width="80%" class="progres-width" style="width: 80%;"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="px-5">
                    <div class="d-flex justify-content-between">
                        <strong>Javascript / Typescript</strong>
                        <strong>60%</strong>
                    </div>
                    <div class="progres">
                        <span data-width="80%" class="progres-width" style="width: 80%;"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="px-5">
                    <div class="d-flex justify-content-between">
                        <strong>Jquery</strong>
                        <strong>60%</strong>
                    </div>
                    <div class="progres">
                        <span data-width="80%" class="progres-width" style="width: 80%;"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="px-5">
                    <div class="d-flex justify-content-between">
                        <strong>Angular +2</strong>
                        <strong>60%</strong>
                    </div>
                    <div class="progres">
                        <span data-width="80%" class="progres-width" style="width: 80%;"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="px-5">
                    <div class="d-flex justify-content-between">
                        <strong>Git / Github</strong>
                        <strong>60%</strong>
                    </div>
                    <div class="progres">
                        <span data-width="80%" class="progres-width" style="width: 80%;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
