<div  class=" contact text-center text-white pt-5" style="min-height: 100vh;">
    <div class="container">
         <h2 class="mainH2 pb-5">Contact Me</h2>
         <div class="row">
             <div class="col-md-6" style="margin-bottom: 80px">
                 <a class="contact-hover" href="https://github.com/MohhamedHassan" target="_blank">
                         <i class="fab fa-github  fa-7x "></i>
                         <h3 class="my-5">Github</h3>
                 </a> 
             </div>
             <div class="col-md-6" style="margin-bottom: 80px">
                  
                             <a class="contact-hover" href="https://www.linkedin.com/in/mohamed-hassan-851277189/" target="_blank">
                                     <i class="fab fa-linkedin-in fa-7x "></i>
                                     <h3 class="my-5">LinkedIn</h3>
                             </a> 
        
                 </div>
                 <div class="col-md-6" style="margin-bottom: 80px">
                           <div class="contact-hover">
                                         <i class="fab fa-google fa-7x"></i>
                                         <h3 class="my-5">Gmail</h3>
                                         <p>fed.mohamed.hassan@gmail.com</p>
                                 </div> 
                   
                     </div>
                     <div class="col-md-6" style="margin-bottom: 80px">
                         
                                     <div class="contact-hover">
                                             <i class="fas fa-phone-volume fa-7x"></i>
                                             <h3 class="my-5">Contact Number</h3>
                                             <p>01110848124</p>
                                     </div> 
                           
                         </div>
         </div>
    </div>
</div>